body{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
}

.main-body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    width: 98vw;
    margin: 0;
}

.player{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(227, 61, 180);
    height: auto;
    width: 30vw;
}


.thumbnail{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.media-controls{
    margin-bottom: 20px;
    margin-top: 20px;
}

.media-button{
    background: none;
    border: none;
    height: 60px;
    width: 60px;
    margin: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #42E4CE;
}

.media-button:nth-child(2){
    /* transform: scale(2); */
    color: white;
    background-color: #42E4CE;
    border-radius: 50%;
}

.fa-solid{
    transform: scale(2.2);
}

#progress-bar{
    -webkit-appearance: none;
    width: 90%;
    height: 8px;
    background-color: rgb(201, 195, 195); 
    border-radius: 3px;
    cursor: pointer;   
}

#progress-bar::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: #42E4CE;
    border-radius: 50%;
}