/* #A3ADAF */
body{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    background-color: bisque;
}

.main-body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    width: 98vw;
    margin: 0;
}

.player{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    height: auto;
    width: 30vw;
}


.thumbnail{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.media-controls{
    margin-bottom: 20px;
    margin-top: 20px;
}

.media-button{
    background: none;
    border: none;
    height: 60px;
    width: 60px;
    margin: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #42E4CE;
}

.media-button:nth-child(2){
    /* transform: scale(2); */
    color: white;
    background-color: #42E4CE;
    border-radius: 50%;
}

.fa-solid{
    transform: scale(2.2);
}

#progress-bar{
    -webkit-appearance: none;
    width: 90%;
    height: 8px;
    background-color: #A3ADAF; 
    border-radius: 3px;
    cursor: pointer;   
}

#progress-bar::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: #42E4CE;
    border-radius: 50%;
}

.song-metadata{
    margin: 0 6%;
}

.title{
    margin: 0px;
    font-size: 45px;
    font-weight: bold;
    color: #404642;
    text-wrap: balance;
    overflow-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.song-info{
    color: #A3ADAF;
    font-family: "Manrope", sans-serif;
    margin: 0;
}

.play-next{
    margin: 35px 0 25px 0;
}

.play-next span:nth-child(1){
    color: #A3ADAF;
    font-family: "Manrope", sans-serif;
}

.play-next span:nth-child(2){
    color: #404642;
    font-family: "Manrope", sans-serif;
    font-weight: bold;
    margin-left: 13px;
}