body{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    background-color: rgb(0, 0, 0);
}

.main-body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    width: 98vw;
    margin: 0;
}

.player{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-color: rgb(255, 255, 255);
    height: 99vh;
    width: 30vw;
    transform: scale(0.8);
    padding: 40px 40px;
}

.search-text{
    font-weight: bold;
    font-size: 42px;
    color: #404642;
}

.search-box{
    margin-top: 20px;
    height: 50px;
    background-color: #F1F1F1;
    border: none;
    border-radius: 25px;
    padding-left: 24px;
}

.search-box::placeholder{
    color: #C0C6C8;
    font-family: "Manrope", sans-serif;
}


.search-results{
    margin-left: 17px;
}

.song-box:nth-child(1){
    margin: 20px 0 20px 20px;;
}

.song-box{
    margin-bottom: 20px;
    margin-left: 20px;
    height: 50px;
    display: flex;
    align-items: center;
    transform: scale(1.1);
}

.song-box img{
    border-radius: 50%;
    border: 1px solid #404642;
}

.song-metadata{
    display: inline-flex;
    margin-left: 10px;
    flex-direction: column;
    justify-content: center;
}

.track-name{
    font-weight: bold;
}

.artist-name{
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    color: #C0C6C8;
}
